* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100vh;
}

body {
  text-transform: capitalize;
}
.App {
  background-color: lightblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  background-color: black;
  width: 30%;
  height: 60%;
  list-style: none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  li {
    position: relative;
    display: inline-block;
    color: white;
    margin: 50px;
    p {
      cursor: pointer;
      &:hover {
        color: yellow;
      }
    }
    .menu {
      position: absolute;
      background-color: white;
      color: black;
      width: 150px;
      height: 70px;
      left: 60px;
      display: flex;
      flex-direction: column;
    }
  }
}
.btn-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
